#main {
    position: absolute;
    width: 90%;
    height:90%;
    top: 5%;
    left:5%;
    border: 1px solid grey;
  }

#left{
    position: absolute;
    width: auto;
    height: auto;
    z-index: 15;
    top: 20%;
    left: 50%;
    margin: -100px 0 0 -150px;
}

#addElementTolist{
    width: 110px;
}

#searchElementLinear, #searchElementBinary{
    width: 99px;
}

ul#menu li {
    display:inline;
  }

.list{
    padding: 5px;
}

p{
    padding-left:2%;
}